.header {
  height: 7rem;
  width: 100svw; 
  background-color: $backgroundColor; 
  margin-top: -0.97rem; 
  display: flex;
  align-items: center;
  justify-content: center;

  @include response(sm) {
    height: 6rem;
    justify-content: flex-start;
    padding-left: 1rem;
  }
  
  .navigation {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 2rem;
      @include response(sm) {
        font-size: 1.5rem;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 3rem; 

      a {
        text-decoration: none; 
        font-size: 1.3rem; 
        color: #000; 

        &:hover {
          font-weight: 600;
        }
      }  
      
      .active {
        text-decoration: underline;
        color: rgb(255, 255, 255); 
      }    
    }
  }
}